Dictionary:
            Dict. is collection of Different types of data where we store data in the formate of key and value pair.
            We represent dict. using {}
            keys and values are seperte by : .
            dict's key are unique in nature

In [2]:
dict1 = {101:"Python Notes",102:"UI Notes",103:"Apti notes",104 : "Apti notes"}
print(dict1)

{101: 'Python Notes', 102: 'UI Notes', 103: 'Apti notes', 104: 'Apti notes'}

In [5]:
dict2 = {"Name":"Ankita","Age":22,101:"Python nots"}
dict2

{'Name': 'Ankita', 'Age': 22, 101: 'Python nots'}

In [7]:
dict2.keys()

dict_keys(['Name', 'Age', 101])

In [10]:
dict2.values()

dict_values(['Ankita', 22, 'Python nots'])

In [21]:
print("Name" in dict2)

True

In [15]:
dict2["Name"]

'Ankita'

In [16]:
len(dict2)

3

In [18]:
dict3 = {101:"Prnav","Marks":90,"age":22}
print(dict3)
dict3["Marks"] = 99
print(dict3)

{101: 'Prnav', 'Marks': 90, 'age': 22}
{101: 'Prnav', 'Marks': 99, 'age': 22}

In [19]:
dict3.clear()
dict3

{}

In [20]:
del dict3
dict3

NameError: name 'dict3' is not defined

In [ ]:
#Wap flaten a nested list.
#I/p [1,2,[3,4],[5,6]] o/p [1,2,3,4,5,6]
#WAp to roatate a list by n position.
# [1,2,3,4,5,6] ...... n = 3 o/p: [4,5,6,1,2,3]

In [ ]:
#Wap to print find frequency of each char in given string.and store in dict
#strng = "Python" o/p : dict = {"p":1,"y":1......}

In [ ]:

#WAp to sort 1st half in asecnding order and second half in desending order.
#i/p l1 = [32,21,44,4,51,20] o/p [21,32,44,51,20,4]
#WAp to replace all zero at end of list.list1=[,0,1,2,0,3,0,4] olp:[1,2,3,4,0,0,0]

In [28]:
#WAP TO FIND OUT SECOND HIGHEST element from tuple.
tuple1 = (23,43,54,65,32,21)
print(sorted(tuple1)[-2])

54

In [ ]:
#WAp to sort 1st half in asecnding order and second half in desending order.
#i/p l1 = [32,21,44,4,51,20] o/p [21,32,44,51,20,4]
l1 = [32,21,44,4,51,20]