Loops:
1.While
syntax:
        inti
        while condition/(condition):
              statment
              ince/dec
2.for loop

In [ ]:
#Wap to print numbers from 1 to 10.
x=1  #inti. value of number.
while x<11: #condition
    print(x) #stat
    x +=1 #x=x+1  #increase

1
2
3
4
5
6
7
8
9
10

In [4]:
#1 2 3 4 5 6 7 8 9 10
x=1
while x<11:
    print(x ,end = " ")
    x+=1

1 2 3 4 5 6 7 8 9 10

In [ ]:
#Wap to print sum of numbers from 1 to 10.
x = 1  #inti
sum = 0 #empty variable to store value of sum =1,3
while x<11: #x=1,x=2 x=3...................x=10,when x=11 False exit the loop
    sum = sum+x #0+1=1,1+2=3,3+3=9
    x+=1 #2,3,4..............................10,11
print(sum)

1
3
6
10
15
21
28
36
45
55

In [9]:
#Wap to print table of 5.
x=5
while x<51:
    print(x)
    x +=5

5
10
15
20
25
30
35
40
45
50

In [10]:
#Wap to print 1 to 10 in reverse order.
x=10
while x>0:
    print(x)
    x -=1

10
9
8
7
6
5
4
3
2
1

In [11]:
#Wap to print even numbers from 1 to 50.
x=2
while x<51:
    print(x)
    x +=2

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [12]:
x=1
while x<51:
    if x%2==0:
        print(x)
    x+=1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [16]:
#WAp to print odd numbers from 1 to 50.
x=1
while x<=50:
    if x%2!=0:
        print(x)
    x+=1

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [17]:
#Wap to print even numbers from 1 to 50 in reverse order.
x=50
while x > 0:
    if x%2==0:
        print(x)
    x -=2

50
48
46
44
42
40
38
36
34
32
30
28
26
24
22
20
18
16
14
12
10
8
6
4
2

In [18]:
#Wap to print even numbers and odd numbers from 1 to 100.
#o/p even numbers = [2,4,6,8................]
#    odd numners=[1,3,5,7,9,...............]
x = 1
while x <= 100:
    if x % 2 == 0:
        print(x, end=" ")
    x += 1
print() 
x = 1
while x <= 100:
    if x % 2 != 0:
        print(x, end=" ")
    x += 1

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100
1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [19]:
i=1
Even_number=[]
Odd_number=[]
while i<=100:
    if i%2==0:
        Even_number.append(i)
    else:
        Odd_number.append(i)
    i+=1
print("Even number from 1 to 100 are :",Even_number)
print("Odd number from 1 to 100 are :",Odd_number)

Even number from 1 to 100 are : [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
Odd number from 1 to 100 are : [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [ ]:
#Wap to check number between 1 to 100 is 
# 1.divisible by 3 and 5 both,
# 2.Either divisible by 3 or 5
# 3.Not Divisible by 3 nor 5
#  store it into Sepreted list.
x = 1
divisible_by_both=[]
Divisible_by_one_of_them =[]
Not_divisible =[]
while x<=100:
    if x%3==0 and x%5==0:
        divisible_by_both.append(x)
    elif x%3==0 or x%5==0:
        Divisible_by_one_of_them.append(x)
    else :
        Not_divisible.append(x)
        
    x+=1
print("Divisible by both of them",divisible_by_both)
print("The numbers are divisible by any one of them",Divisible_by_one_of_them )
print("The numbers are not divisible by any one of them",Not_divisible )

Divisible by both of them [15, 30, 45, 60, 75, 90]
The numbers are divisible by any one of them [3, 5, 6, 9, 10, 12, 18, 20, 21, 24, 25, 27, 33, 35, 36, 39, 40, 42, 48, 50, 51, 54, 55, 57, 63, 65, 66, 69, 70, 72, 78, 80, 81, 84, 85, 87, 93, 95, 96, 99, 100]
The numbers are not divisible by any one of them [1, 2, 4, 7, 8, 11, 13, 14, 16, 17, 19, 22, 23, 26, 28, 29, 31, 32, 34, 37, 38, 41, 43, 44, 46, 47, 49, 52, 53, 56, 58, 59, 61, 62, 64, 67, 68, 71, 73, 74, 76, 77, 79, 82, 83, 86, 88, 89, 91, 92, 94, 97, 98]

In [24]:
X=1
y = int(input("Enter limit"))
while x<=y:
    print(x)

ValueError: invalid literal for int() with base 10: ''