In [2]:
#Right-Angled Triangle**
rows = 5
for i in range(1, rows + 1):# i = 1
    print("* " * i)# "*" *2

*
* *
* * *
* * * *
* * * * *

*    #1---*
**   #2----**
***  #3.....***
****
*****
rows = 5
for i in range(1,rows+1):
    print("*" * i)............... * *1=*
                                  * *2=**

In [31]:
rows = 5
for i in range(1, rows + 1):# i = 1
    print(("*"+" ") * i)# "*" *2

*
* *
* * *
* * * *
* * * * *

1 
2 2 
3 3 3 
4 4 4 4 
5 5 5 5 5

In [4]:
rows = 5
for i in range(1, rows + 1):# i = 1
    print((str(i)+" ") * i)# "

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [7]:
# Inverted Right-Angled Triangle**
rows = 5
for i in range(rows, 0, -1):# range(5,0,-1),i=5,i=4
    print("* " * i)#

* * * * *
* * * *
* * *
* *
*

In [8]:
rows = 5
for i in range(5,0,-1):
    print((str(i)+" ")*i)

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

    *
   **
  ***
 ****
*****

In [34]:
for i in range(5, 0, -1):
    print(("*"+" ")*i)

* * * * *
* * * *
* * *
* *
*

In [ ]:
#Left-Aligned Right angle Triangle (using *)
rows = 5
for i in range(1, rows + 1):# i =1
    print(" " * (rows - i) + "*" * i)
    #i=1 (" " * (5-1)=" "*4 space print 4....+"*"*1=* will print 1 time)
    #i=2 (" "*(5-2)=" "*3+"*" * 2 = **)

    *
   **
  ***
 ****
*****

        *  # 4 space 1 *  ......(rows-i)(5-1)=4..."*" * i=*
      * *  # 3 space 2 *  ......                  "*" *i = **
    * * *  # 2 space 3 *
  * * * *  # 1 space 4 *
* * * * *  # 0 space 5 *

In [45]:
rows = 5
for i in range(1, rows + 1):# i =1
    print("  " * (rows - i) + "* " * i)
    #i=1 (" " * (5-1)=" "*4 space print 4....+"*"*1=* will print 1 time)
    #i=2 (" "*(5-2)=" "*3+"*" * 2 = **)

        *
      * *
    * * *
  * * * *
* * * * *

In [ ]:
#Left-Aligned Right angle Triangle (using numbers)
rows = 5
for i in range(1,rows+1):
    print("  "*(rows-i)+(str(i)+" ")*i)

        1
      2 2
    3 3 3
  4 4 4 4
5 5 5 5 5

#Left-Aligned  Invert Right angle Triangle
*****
 ****
  ***
   **
    *

In [12]:
#Left-Aligned Invert Right angle Triangle (using numbers)
rows = 5
for i in range(rows,0,-1):# i =1
    print("  " * (rows - i) + "* " * i)

* * * * *
  * * * *
    * * *
      * *
        *

In [13]:
rows = 5
for i in range(1, rows + 1):# i =1
    print("  " * (rows - i) + (str(i)+" ") * i)

        1
      2 2
    3 3 3
  4 4 4 4
5 5 5 5 5

In [15]:
rows = 5
for i in range(1, rows + 1):# i =1
    print(" " * (rows - i) + "* " * i)

    *
   * *
  * * *
 * * * *
* * * * *

In [17]:
rows = 5
for i in range(1, rows + 1):# i =1
    print(" " * (rows - i) + (str(i)+" ") * i)

    1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5

    *      # $ 4 space * 1 time  # r=5...r-i,(2*i-1)=2-1=1*@=@
   ***     # $ 3 space * 3 time  # (5-2)=3,(2*2-1)=(4-1)=3*@=@@@
  *****    # $ 2 space * 5 time  #(5-3)=2,(2*3-1)=(6-1)=5*@=@@@@@
 *******   # $ 1 space * 7 time
*********  # $ 0 space * 9 time

In [18]:
#Pyramid Pattern**
rows = 5
for i in range(1, rows + 1):
    print(" " * (rows - i) + "*" * (2*i - 1))

    *
   ***
  *****
 *******
*********

*********
 *******
  *****
   ***
    *

In [51]:
#Inverted Pyramid**
rows = 5
for i in range(rows, 0, -1):
    print(" " * (rows - i) + "*" * (2*i - 1))

*********
 *******
  *****
   ***
    *

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [ ]:
#Diamond Shape
rows = 5
for i in range(1, rows + 1):
    print(" " * (rows - i) + "*" * (2*i - 1))
for i in range(rows-1, 0, -1):
    print(" " * (rows - i) + "*" * (2*i - 1))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

:

* * * * * * # * .....5
* * * * * * # *......5
* * * * * * 
* * * * * * 
* * * * * *

In [63]:
#Square Pattern**
rows = 5
for i in range(rows):  
    print("* "* rows)

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [59]:
rows = 5
for i in range(1,rows+1):
    print((str(i)+" ") * rows)

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

A A A A A
B B B B B
C C C C C
D D D D D
E E E E E

In [76]:
rows = 5
for i in range(65,65+rows):# i = 65
    print((chr(i)+" ") * rows)

A A A A A
B B B B B
C C C C C
D D D D D
E E E E E

In [30]:
#Checkerboard Pattern**
rows = 6
for i in range(rows):
    for j in range(rows):
        if (i + j) % 2 == 0:
            print("X", end=" ")
        else:
            print("O", end=" ")
    print()

X O X O X O
O X O X O X
X O X O X O
O X O X O X
X O X O X O
O X O X O X

In [8]:
#Hollow Square**


rows = 5
for i in range(rows):
    if i == 0 or i == rows - 1:
        print("* " * rows)
    else:
        print("*" + "  " * (rows - 2) + " *")

* * * * *
*       *
*       *
*       *
* * * * *

In [9]:
#Number Triangle**


rows = 5
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [10]:
#Number Pyramid**


rows = 5
for i in range(1, rows + 1):
    print(" " * (rows - i), end="")
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [11]:
#Reverse Number Triangle**


rows = 5
for i in range(rows, 0, -1):
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [12]:
#Continuous Number Triangle**


rows = 5
num = 1
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(num, end=" ")
        num += 1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [13]:
#Hollow Pyramid**


rows = 5
for i in range(1, rows + 1):
    print(" " * (rows - i), end="")
    for j in range(1, 2*i):
        if j == 1 or j == 2*i - 1 or i == rows:
            print("*", end="")
        else:
            print(" ", end="")
    print()

    *
   * *
  *   *
 *     *
*********

In [ ]:
#Floyd’s Triangle**
rows = 5
num = 1
for i in range(1, rows + 1):
    for j in range(i):
        print(num, end=" ")
        num += 1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [21]:
rows = 5
for i in range(rows, 0, -1):
    print(" " * (rows - i) + "*" * (2*i - 1))
for i in range(2, rows + 1):
    print(" " * (rows - i) + "*" * (2*i - 1))

*********
 *******
  *****
   ***
    *
   ***
  *****
 *******
*********

In [ ]:
#Pascal’s Triangle**
rows = 5
for i in range(rows):
    print(" " * (rows - i), end="")
    num = 1
    for j in range(i + 1):
        print(num, end=" ")
        num = num * (i - j) // (j + 1)
    print()

     1
    1 1
   1 2 1
  1 3 3 1
 1 4 6 4 1

In [23]:
#Cross Pattern**
rows = 7
for i in range(rows):
    for j in range(rows):
        if i == j or i + j == rows - 1:
            print("*", end="")
        else:
            print(" ", end="")
    print()

*     *
 *   *
  * *
   *
  * *
 *   *
*     *

In [29]:
#.#Butterfly Pattern
rows = 5
for i in range(1, rows + 1):
    print("*" * i + " " * (2*(rows - i)) + "*" * i)
for i in range(rows, 0, -1):
    print("*" * i + " " * (2*(rows - i)) + "*" * i)

*        *
**      **
***    ***
****  ****
**********
**********
****  ****
***    ***
**      **
*        *