In [1]:
def add(*a):
    return a
add(2)

(2,)

ERROR! Session/line number was not unique in database. History logging moved to new session 59

In [5]:
def marks(marks):
    return marks
marks(2,5)

TypeError: marks() takes 1 positional argument but 2 were given

In [3]:
def marks(*marks):
    return marks
print(marks(12,43,54))
print(marks(23,32,3,12,54,76))

(12, 43, 54)
(23, 32, 3, 12, 54, 76)

In [7]:
def marks(a,b,c=0):
    return a,b,c
print(marks(12,32,43))
print(marks(12,43))

(12, 32, 43)
(12, 43, 0)

In [9]:
def marks(marks):
    return marks
marks([12,43,54,64])

[12, 43, 54, 64]

In [12]:
def number(a,b,c):
    return b
number(b=12,c=43,a=65)

12