Set : 
     Set is a collection of unique,which are unordered in nature.
     we declear set ueing {}
Operations:
1.add()
2.remove()
3.clear()
4.del
5.update()
6.union()
7.intersection()
8.difference()
9.symmetricdifference()
10.len
11.min()
12.max()
13.in
14.difference_update()
15.sum()

In [1]:
#Unique in nature
set1 = {1,2,3,4,5,1,2,3,4,5}
print(set1)

{1, 2, 3, 4, 5}

In [2]:
set2 = {1,1,1,1,1,1}
print(set2)

{1}

In [4]:
list1 = [1,2,3,4,5]
list2 = [4,3,5,2,1]
print(list1==list2)

False

In [3]:
#unordered 
set3 = {1,2,3,4,5}
set4 = {4,3,5,2,1}
print(set3==set4)

True

In [18]:
#add
set5 = {1,2,3,4,5}
set5.add(6)
print(set5)

{1, 2, 3, 4, 5, 6}

In [19]:
set5.remove(3)
print(set5)

{1, 2, 4, 5, 6}

In [20]:
set5.clear()
print(set5)

set()

In [21]:
del set5 
print(set5)

NameError: name 'set5' is not defined

In [23]:
s7 = {1,2,3,4,5,6,7}
s7.update([8,9])
print(s7)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
s7.update()
print(s7)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [34]:
#remove multiple
s1 = {1,2,3,4,5}
s1.difference_update([3,4])
print(s1)

{1, 2, 5}

In [39]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8,9}
print(s1.union(s2))
print(s1|s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [40]:
print(s1.intersection(s2))
print(s1&s2)

{4, 5}
{4, 5}

In [41]:
print(s1.difference(s2))
print(s1-s2)
#set1-set2 = 1,2,3,4,5 - 4,5,6,7,8

{1, 2, 3}
{1, 2, 3}

In [15]:
s1 = {"Sanket","Sushant","Dishank","Ankit"}
s2 = {"Sushant","Sanket","Vaishnavi","Priya","Rutuja"}
print(s1.difference(s2))

{'Ankit', 'Dishank'}

In [16]:
print(s2.difference(s1))

{'Vaishnavi', 'Priya', 'Rutuja'}

In [42]:
s1 = {"Sanket","Sushant","Dishank","Ankit"}
s2 = {"Sushant","Sanket","Vaishnavi","Priya","Rutuja"}
print(s1.symmetric_difference(s2))
print(s1^s2)

{'Dishank', 'Vaishnavi', 'Ankit', 'Priya', 'Rutuja'}
{'Dishank', 'Vaishnavi', 'Ankit', 'Priya', 'Rutuja'}

In [28]:
set6 = {23,43,54,65,32}
print(max(set6))

65

In [29]:
print(min(set6))

23

In [30]:
print(len(set6))

5

In [32]:
set7 = {2,4,6,3,7,8,1,5}
print(7 in set7)

True

In [36]:
#Wap to print sum of all elements in set.
Number = {2,3,54,32,21}
print(sum(Number))

112