TypeCasting:

In [1]:
Name = "Ankit"
Age = 25
print(Name+Age)

TypeError: can only concatenate str (not "int") to str

In [ ]:
x=12  #12.00
y=34.54 #34
print(x+y)

46.54

In [ ]:
x=34  #34
y=True #1
print(x+y)

35

In [22]:
x=12.99
y=int(x)
print(y)

12

Typcasting:Converting one type of data into another type of data.
Types:
1.immplicit : Automatic during run time. 
   1.int
   2.float
   3.complex
   4.bool

Pairs:
   1.int+float
   2.int+complex
   3.int+bool
   4.float+complex
   5.float+bool
   6.complex+bool

2.Explicit : Manulaly change
     1.int
     2.string
     3.list
     4.set
     5.Tuple
     6.dict
  Pairs:
  1.int to string.
  2.string to list.
  3.string to set.
  4.string to tuple.
  5.string to dict.
  6.list to string.
  7.list to set.
  8.list to tuple.
  9.list to dict.

In [9]:
x=22
print(x)
#convert int into float
y=float(x)
print(y)
print(type(y))
print(type(x))
#convert int to str
z=str(x)
print(z)
print(type(z))

22
22.0
<class 'float'>
<class 'int'>
22
<class 'str'>

In [11]:
Name="Dishank"
Age = 23
New_age = str(Age)
print(Name+New_age)

Dishank23

In [13]:
Name="Dishank"
Age = 23
print(Name+" " +str(Age))

Dishank 23

In [ ]:
x=2
list1 = list(x)
print(list1)

TypeError: 'int' object is not iterable

In [ ]:
x=12
y=12.43
z=True
A="Vaishnavi"

In [ ]:
#list
l1 = [1,2,3,4,5]
s1=set(l1)
print(s1)
print(type(s1))
t1=tuple(l1)
print(t1)

{1, 2, 3, 4, 5}
<class 'set'>
(1, 2, 3, 4, 5)

In [18]:
#list to dict
dict1 = dict(l1)
print(dict1)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [20]:
str1 = str(l1)
print(str1)
print(type(str1))

[1, 2, 3, 4, 5]
<class 'str'>

In [21]:
x=int(l1)
print(x)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'